<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"55px","bottom":"60px"}}}} -->
<div class="wp-block-group" style="padding-top: 55px; padding-bottom: 60px">
  <!-- wp:group {"className":"cp-container"} -->
  <div class="wp-block-group cp-container">
    <!-- wp:heading {"level":1,"style":{"typography":{"fontSize":"54px","fontWeight":"800"}}} -->
    <h1>Sobre nós</h1>
    <!-- /wp:heading -->

    <!-- wp:heading {"level":2,"style":{"typography":{"fontSize":"34px","fontWeight":"700"}},"textColor":"muted"} -->
    <h2 class="has-muted-color has-text-color">
      Norem ipsum dolor sit amet, consectetur adipiscing elit.
    </h2>
    <!-- /wp:heading -->

    <!-- wp:spacer {"height":"22px"} /-->

    <!-- wp:post-content /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
